

$blueColor: rgba(74, 128, 209, 0.89);
$darkRedColor: #7d160b;
@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}


@mixin displayFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.third_main_container {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	// display: flex;
	display: flex;
	box-sizing: border-box;
	margin-bottom: 50px;
 
}

.third_mc_topsmkbg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 70px;
	z-index: 10;
	transform: rotate(180deg);
	background: url('../img/smkbg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	pointer-events: none;
}

.third_mc_bottomsmkbg {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 10;
	transform: rotate(0deg);
	background: url('../img/smkbg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	pointer-events: none;
}

.thrd_bott_drgmore_arrow {
	position: absolute;
	z-index: 10;
	bottom: -10px;
	right: 0;
	pointer-events: none;
	min-height: 80px;
	min-width: 150px;
	display: block;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .5s;
	span:nth-child(1) {
		width: 27px;
		height: 27px;
		background: url('../img/left-click.png');
		background-size: contain;
		background-repeat: no-repeat;
		transform-origin: bottom center;
		animation: move_drag 2s ease-in-out infinite alternate;
	}
	span:nth-child(2) {
		opacity: 0.8;
		margin-top: 7px;
		font-size: 10px;
		text-transform: uppercase;
	}
}

.drgfmactv {
	right: -50%;
}

@keyframes move_drag {
	from {
		transform: rotateZ(-30deg);
	}
	to {
		transform: rotateZ(30deg);
	}
}

.third_mc_wrapcanvas {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
 
	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.thmc_wrapscroll_content {
	position: relative;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
 

}

.mptp_ptitle {
	color: #fff;
	opacity: 0.8;
	font-size: 45px;
	position: absolute;
	top:-30px;
	left:20px;
	z-index: 15;
	@include disable-select();
	font-family: "Acme",sans-serif;
 
}
.thmc_wrscroll_cinside {
	position: inherit;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.thmc_wrscroll_cincont {
	position: inherit;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	box-sizing: content-box;
	overflow-y: hidden;
	margin-top: 40px;
	display: block;
 
 
}


.thmc_wrc_cintcont_proj {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: row;
	left: 0;
	top: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

}


// mobile size container

.thmc_wrscoll_cincont_smsz {
	display: none;
	position: relative;
	width: 99.5%;
	min-height: 100vh;
 
	overflow: hidden;

}
.thmc_wrsc_cicsmsz_wrproj {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 99%;
	min-height: 300px;
 
	align-items: center;
	overflow-y: scroll;
	padding-bottom: 100px;
	padding-top: 100px;
}
.thmc_wrsc_cicsmsz_wrproj {
	.thmc_wrcccont_proj_box {
		height: 230px;
	width: 280px;
	margin: 50px 0 50px 0;

	.thmcwrc_projbox_blt {
		@include displayFlex();
		height: 60px;
		width: 200px;
		right: -20px;
	}

	&:hover {
		opacity:0.9;
		transform: scale(1);
		.thmcwrc_projbox_img {
			transform: scale(1);
		}
		.thmcwrc_projbox_blt {
			transform:  scale(1);
		}
		.thmcwrc_hovshineffbox {
			&:before {
				-webkit-animation: none;
				animation: none;
			}
		}
		.thmcwrc_projbox_blt {
			i {
				right: 0;
				bottom: 0;
			}
		}
		.thmcwrc_projbox_outln {
			-webkit-transform: none;
			transform: none;
			transition: .2s transform;
		}
		.projbox_title {
			top: -55px;
		}

	}
	.projbox_title { 
		transform: rotate(0);
		font-size: 25px;
	}
}
}
.thmc_wrcccont_proj_box {
	height: 300px;
	width: 400px;
	margin: 0 10px 0 10px;
	position: relative;
	opacity: 0.9;
	transition: 0.2s all;
	transform: scale(0.9);
	&:hover {
		opacity: .8;
		transform: skewY(-1deg) scale(1.0);
		.thmcwrc_projbox_img {
			transform: scale(1.1) rotate(2deg);
		}
		.thmcwrc_projbox_blt {
			transform: scale(1.05) rotate(-2deg);
		}
		.thmcwrc_hovshineffbox {
			&:before {
				-webkit-animation: shine .75s;
				animation: shine .75s;
			}
		}
		.thmcwrc_projbox_blt {
			i {
				right: 7px;
				bottom: 7px;
			}
		}
		.thmcwrc_projbox_outln {
			-webkit-transform: skewX(-2deg);
			transform: skewX(-2deg) rotateX(5deg);
			transition: .2s transform;
		}
		.projbox_title {
			top: -55px;
		}
	}
	@-webkit-keyframes shine {
		100% {
			left: 125%;
		}
	}
	@keyframes shine {
		100% {
			left: 125%;
		}
	}
	.thmcwrc_hovshineffbox {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		&:before {
			position: absolute;
			top: 0;
			left: -75%;
			z-index: 2;
			display: block;
			content: '';
			width: 50%;
			height: 100%;
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
	}
	.thmcwrc_projbox_wrap_img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		pointer-events: none;
	}
	img {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: .4s;
		pointer-events: none;
	}
	.thmcwrc_projbox_blt {
		background-color: #000;
		color: #fff;
		height: 60px;
		width: 200px;
		transition: .6s;
		display: flex;
		pointer-events: none;
		text-align: center;
		position: absolute;
		bottom: -50px;
		right: -30px;
		z-index: 2;
		font-size: 13px;
		padding: 10px 10px 0 10px;
		border: 2px solid $blueColor;
		font-family: "Volkhov", serif;
		@include disable-select;
		i {
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 20px;
			transform: rotate(-45deg);
			transition: 0.2s;
			color: $blueColor;
		}
	}
	.thmcwrc_projbox_outln {
		position: absolute;
		top: -10px;
		right: -10px;
		border-top: solid $blueColor;
		border-right: solid $blueColor;
		transition: .2s transform;
		width: 100%;
		height: 100%;
	}
}

.projbox_title {
	z-index: 5;
	position: absolute;
	top: -50px;
	left: 20%;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	opacity: 1;
	transform: rotate(-3deg);
	z-index: 15;
	transition: .4s;
}

@media screen and (max-width: 500px) {
	.thmc_wrcccont_proj_box {
		height: 250px;
		width: 350px;
		.thmcwrc_projbox_blt {
			height: 80px;
			width: 180px;
			font-size: 13px;
			i {
				display: none;
				font-size: 10px;
				bottom: 5px;
				right: 5px;
			}
		}
	}
	.thrd_bott_drgmore_arrow {
		bottom: 20px;
	}
}

@media screen and (max-width: 450px) { 
	.thmc_wrsc_cicsmsz_wrproj {
		.thmc_wrcccont_proj_box {
			height: 230px;
		width: 280px;
		}
	}
}

@media screen and (min-width: 450.5px) and (max-width: 650px) { 
	.thmc_wrsc_cicsmsz_wrproj {
		.thmc_wrcccont_proj_box {
			height: 300px;
		width: 400px;

		.thmcwrc_projbox_blt {
			i {
				font-size: 10px;
			}
		}

		&:hover {
			.projbox_title {
				top:-40px;
			}
		}
		}
	}
}

@media screen and (max-width: 650px) { 
	.thmc_wrscroll_cincont {
		display: none;
	}
	.thmc_wrscoll_cincont_smsz {
		display: block;
	}
	.thrd_bott_drgmore_arrow {
		display: none;
	}
}

